<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
</head>
<body>
<div class="container flex justify-center items-center">
    <div class="border-2 rounded-sm">
        <form method="post" th:action="@{${WebUrl.LOGIN_URL}}" th:object="${user}">
            <h2 class="text-red-500">Login</h2>
            <h3 th:if="${status == ResponseStatus.FAILED}">Invalid username or password</h3>
            <div class="input">
                <label>
                    <input type="text" th:field="*{username}" placeholder="Username">
                </label>
            </div>
            <div class="input">
                <label>
                    <input type="password" th:field="*{password}" placeholder="Password">
                </label>
            </div>
            <div class="input">
                <input type="submit" value="Login">
            </div>
            <p><span>Don't you have an account?</span><a th:href="@{${WebUrl.REGISTER_URL}}">Register here</a></p>
        </form>
    </div>
</div>
</body>
</html>